body{
    background-color: #00acb0;
}

h1 {
    font-size: 40px;
    color: black;
    text-align: center;
    text-decoration: underline;
}

.pageBy{
    text-align: center;
    margin: 24px;
}

.well {
    border: 4px solid black;
    background-color: lightgrey;
    margin: 2px;
    width: 314px;
}

.handlesDiv{
    margin: 4px;
}